<h1>{{title}}</h1>
<a href="/dataBinding">Data Binding</a>
<br/>
<a href="/nestedComponent">Nested Component</a>
<br/>
<a href="/interpolation">Interpolation</a>
<br/>
<a href="/propertyBinding">PropertyBinding</a>
<br/>
<a href="/attributeBinding">AttributeBinding</a>
<br/>
<a href="/classBinding">ClassBinding</a>
<br/>
<a href="/styleBinding">StyleBinding</a>
<br/>
<a href="/eventBinding">EventBinding</a>
<br/>
<a href="/pipe">Pipe</a>
<br/>
<a href="/customPipe">CustomPipe</a>
<br/>
<a href="/inputoutputBinding">Inputzoutputzbinfing</a>



